{% if   is_granted('ROLE_BLOGGER')  %}


    {% extends 'test/mainMenu.html.twig' %}
    {% block head %}
        {{ parent() }}
        {% block title %}{% endblock %}
    {% endblock %}

    {% block content%}
        {{ parent() }}

        {% for post in posts %}
            YOUR POSTS:
            <br>
            <br>
            {{ post.title}}
            <br>
            Teaser:
            {{ post.teaser}}
            <br>
            {{ post.content}}
            <a href="{{ post.linkToPicture }}"> Watch me! </a>
            Tags:
            {{ post.tag}}
            <br>
            <button>Like!</button> <button>Comment</button>
            <br>
            <br>
        {% endfor %}

    {% endblock %}




{% endif %}