
{% extends 'test/mainMenu.html.twig' %}
{% block head %}
    {{ parent() }}
    {% block title %}{% endblock %}
{% endblock %}

    {% block content%}
        {{ parent() }}
        {% for post in posts %}

            <a href="{{ path('view_specific_user_home_page') }}">"{{ post.postCreator }}"</a>
            <br>
            {{ post.title}}
            <br>
            {{ post.teaser}}
            <br>
            {{ post.content}}
            <br>
            <a href="{{ post.linkToPicture}}">Watch me!</a>
            <br>
            {{ post.tag}}
            <br>
            <br>
            <br>
        {% endfor %}

    {% endblock content %}


