{% block title %}Index{% endblock %}
{% block head %}

    <style type="text/css">
        .important { color: #316699; }
    </style>
{% endblock %}
{% block content %}

    {% for post in posts %}
        {{ include('menu/user-post.html.twig' ,{'post' : post}) }}
            <a href="{{ path('view_specific_user_home_page') }}">"{{ post.postCreator }}"</a>
            <br>
            {{ post.title}}
            <br>
            {{ post.teaser}}
            <br>
            {{ post.content}}
            <br>
            {{ post.linkToPicture}}
            <br>
            {{ post.tag}}
            <br>
    {% endfor %}
    <h1>Index</h1>
    <p class="important">
        Welcome on my awesome homepage.
    </p>
    <a href="{{ logout_path(key = null) }}">Log out</a>


{% endblock %}

